<div class="col-md-12" style="clear: both;">
	<div class="row background-orange" style="padding-top: 20px; padding-bottom: 20px; margin-top: 20px;">
		<div class="col-md-12">
			<div class="row">
				<h2>Livraison dans la région de Mantes-la-Jolie</h2>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="col-md-12">
			<div class="row">
				<p>Téléphone : 06 61 45 97 33</p>
			</div><br />
			<div class="row">
				<p>
					<a href="https://www.facebook.com/HoMe-Menus-1010421625678612" target="_blank">
						<img style="height: 25px;" src="res/img/social/facebook-min.png" alt="Facebook" Title="Facebook">
					</a>
					<a href="https://twitter.com/HomeMenus" target="_blank">
						<img style="height: 25px;" src="res/img/social/twitter-min.png" alt="Twitter" Title="Twitter">
					</a>
					<a href="https://www.instagram.com/home.menus/" target="_blank">
						<img style="height: 25px;" src="res/img/social/instagram-min.png" alt="Instagram" Title="Instagram">
					</a>
					<a href="https://www.linkedin.com/company/home-menus" target="_blank">
						<img style="height: 25px;" src="res/img/social/linkedin-min.png" alt="Linkedin" Title="Linkedin">
					</a>
					<a href="https://plus.google.com/b/116789448578170358576/116789448578170358576" target="_blank">
						<img style="height: 25px;" src="res/img/social/googleplus-min.png" alt="Google +" Title="Google +">
					</a>
				</p>
			</div><br />
			<div class="row">
				<p>Copyright © 2016 - homemenus.fr ® - Tous droits réservés | <a href="qui-sommes-nous.html">Qui sommes-nous</a> | 
				<a href="mention-legal.html" rel="nofollow">Mentions légales</a> | <a href="cgv.html" rel="nofollow">CGV</a> | 
				<a href="cgu.html" rel="nofollow">CGU</a></p>
			</div>
		</div>
	</div>
</footer>