<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Rejoignez-nous</h3>
				<div><a href="index.php?controler=contact&action=restaurant">Devenir restaurant partenaire</a></div>
				<div><a href="index.php?controler=contact&action=livreur">Devenir livreur</a></div>
				<div><a href="index.php?controler=contact&action=entreprise">Pour les entreprises</a></div>
				<div></div>
			</div>
			<div class="col-md-4">
				<h3>Commande spéciale</h3>
				<div><a href="index.php?controler=contact&action=evenement">Commande spéciale</a></div>
			</div>
			<div class="col-md-4">
				<h3>Rejoignez la communauté</h3>
				<a href="https://www.facebook.com/HoMe-Menus-1010421625678612" target="_blank"><img class="social-media" src="res/img/facebook.png" alt="HoMe Menus - facebook"></a>
				<a href="https://twitter.com/HomeMenus" target="_blank"><img class="social-media" src="res/img/twitter.png" alt="HoMe Menus - twitter"></a>
				<a href="https://www.instagram.com/home.menus/" target="_blank"><img class="social-media" src="res/img/instagram.png" alt="HoMe Menus - instagram"></a>
				<a href="https://www.linkedin.com/company/home-menus" target="_blank"><img class="social-media" src="res/img/linkedin.png" alt="HoMe Menus - linkedin"></a>
				<a href="https://plus.google.com/b/116789448578170358576/116789448578170358576" target="_blank"><img class="social-media" src="res/img/google-plus.png" alt="HoMe Menus - Google +"></a>
			</div>
		</div><br />
		<div class="row">
			<p>Téléphone : 06 61 45 97 33</p>
		</div><br />
		<div class="row">
			<p>Copyright © 2016 - homemenus.fr ® - Tous droits réservés | <a href="index.php?action=qui_sommes_nous">Qui sommes-nous</a> | 
			<a href="index.php?action=restaurants_partenaire">nos restaurants partenaires</a> | <a href="index.php?action=mention_legal" rel="nofollow">Mentions légales</a> | 
			<a href="index.php?action=cgv" rel="nofollow">CGV</a> | <a href="index.php?action=cgu" rel="nofollow">CGU</a></p>
		</div>
	</div>
</footer>