<footer>
	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Rejoignez-nous</h3>
			<div><a href="?controler=contact&action=restaurant">Devenir restaurant partenaire</a></div>
			<div><a href="?controler=contact&action=livreur">Devenir livreur</a></div>
			<div><a href="?controler=contact&action=restaurant">Pour les entreprises</a></div>
		</div>
		<div class="col-md-4">
			<h3>Commande spéciale</h3>
			<div><a href="?controler=contact&action=evenement">Commande spéciale</a></div>
			<div><a href="?action=premium">Compte prenium</a></div>
		</div>
		<div class="col-md-4">
			<h3>Rejoignez la communaute</h3>
			<a href="https://www.facebook.com/cservichezvous" target="_blank"><img class="social-media" src="res/img/facebook.png"></a>
			<a href="https://twitter.com/CserviChezVous" target="_blank"><img class="social-media" src="res/img/twitter.png"></a>
			<a href="https://www.youtube.com/channel/UCSZXAU3XkdvDcIx0tMZQALQ" target="_blank"><img class="social-media" src="res/img/youtube.png"></a>
		</div>
	</div><br />
	<div class="row">
		<p>Copyright © 2016 - homemenus.fr ® - Tous droits réservés | <a href="?action=mentions_legales" rel="nofollow">Mentions légales</a> | <a href="?action=cgv" rel="nofollow">CGV</a> | <a href="?action=cgu" rel="nofollow">CGU</a></p>
	</div>
	</div>
</footer>