<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Rejoignez la communauté</h3>
				<a href="https://www.facebook.com/HoMe-Menus-1010421625678612" target="_blank"><img class="social-media" src="res/img/facebook.png" alt="HoMe Menus - facebook"></a>
				<a href="https://twitter.com/HomeMenus" target="_blank"><img class="social-media" src="res/img/twitter.png" alt="HoMe Menus - twitter"></a>
				<a href="https://www.instagram.com/home.menus/" target="_blank"><img class="social-media" src="res/img/instagram.png" alt="HoMe Menus - instagram"></a>
				<a href="https://www.linkedin.com/company/home-menus" target="_blank"><img class="social-media" src="res/img/linkedin.png" alt="HoMe Menus - linkedin"></a>
				<a href="https://plus.google.com/b/116789448578170358576/116789448578170358576" target="_blank"><img class="social-media" src="res/img/google-plus.png" alt="HoMe Menus - Google +"></a>
			</div>
		</div><br />
		<div class="row">
			<p>Téléphone : 06 61 45 97 33</p>
		</div><br />
		<div class="row">
			<p>Copyright © 2016 - homemenus.fr ® - Tous droits réservés | <a href="?module=default&action=mention_legal" rel="nofollow">Mentions légales</a> | 
			<a href="?module=default&action=cgv" rel="nofollow">CGV</a> | <a href="?module=default&action=cgu" rel="nofollow">CGU</a></p>
		</div>
	</div>
</footer>