<div id="login-modal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Connexion</h4>
			</div>
			<div class="modal-body">
				<?php if ($request->errorMessage && isset($request->errorMessage["WRONG_LOGIN_OR_PASSWORD"])) : ?>
					<div class="alert alert-danger alert-dismissible" role="alert" style="margin-top : 5px;">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="margin-right : 5px;"></span>
						<?php echo $request->errorMessage["WRONG_LOGIN_OR_PASSWORD"]; ?>
					</div>
				<?php endif; ?>
				<form method="post" enctype="x-www-form-urlencoded" id="loginForm" action="?action=login">
					<div class="form-group">
						<label for="login">email<span class="required">*</span> : </label>
						<input id="login_field" class="form-control" name="login" type="text" required>
					</div>
					<div class="form-group">
						<label for="password">Mot de passe<span class="required">*</span> : </label>
						<input id="password_field" class="form-control" name="password" type="password" required>
					</div>
					<button id="loginButton" class="btn btn-primary" type="submit">Connexion</button>
				</form>
			</div>
			<div class="modal-footer">
				<span>Vous n'avez pas de compte ? <a href="?action=inscription">Inscrivez-vous</a>.</span><br />
				<span><a id="forgot-password-link">J'ai oublié mon mot de passe</a></span>
				<div style="display : none; text-align: center;" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					<span class="message"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#forgot-password-link").click(function(event) {
		$("#login-modal").modal('hide');
		$("#forgot-password-modal").modal();
	});
	$("#loginForm").submit(function(event) {
		event.preventDefault();
		showLoading('loginButton', true);
		$.ajax({
			type: "POST",
			url: "?action=login",
			dataType: "html",
			data: $("#loginForm").serialize()
		}).done(function( msg ) {
			document.location.href = "?action=index";
		}).error(function(jqXHR, textStatus, errorThrown) {
			switch (jqXHR.status) {
				case 400 :
					$("#login-modal .modal-footer div.alert-danger span.message").html("Login ou mot de passe vide");
					break;
				case 403 :
					$("#login-modal .modal-footer div.alert-danger span.message").html("<p>Votre compte est désactivé</p><p>Vérifiez dans votre boite mail que vous avez bien reçu le mail de confirmation d'inscription</p><p>Sinon <a href='?controler=contact'>contactez-nous</a></p>");
					break;
				case 404 :
					$("#login-modal .modal-footer div.alert-danger span.message").html("Login ou mot de passe incorrect");
					break;
				default :
					$("#login-modal .modal-footer div.alert-danger span.message").html("Une erreur est survenu, veuillez réessayé.");
					break;
			}
			$("#login-modal .modal-footer div.alert-danger").css('display', 'block');
			hideLoading('loginButton', true);
		});
	});
</script>