# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On
# Réécriture de index.html vers index.php 
RewriteRule ^web/index\.html$ web/index.php [L]
# Réécriture des URL des restaurants 
RewriteRule ^web/restaurant-([0-9]+)-([a-zA-Z0-9\-]+)\.html$ web/index.php?action=restaurant_partenaire&id=$1 [L]
RewriteRule ^web/qui-sommes-nous.html$ web/index.php?action=qui_sommes_nous [L]
RewriteRule ^web/plats-favoris.html$ web/index.php?action=plats_favoris [L]
RewriteRule ^web/restaurants-partenaire.html$ web/index.php?action=restaurants_partenaire [L]
RewriteRule ^web/faq.html$ web/index.php?action=faq [L]
RewriteRule ^web/contact.html$ web/index.php?controler=contact [L]
RewriteRule ^web/contact-livreur.html$ web/index.php?controler=contact&action=livreur [L]
RewriteRule ^web/contact-restaurant.html$ web/index.php?controler=contact&action=restaurant [L]
RewriteRule ^web/contact-entreprise.html$ web/index.php?controler=contact&action=entreprise [L]
RewriteRule ^web/contact-evenement.html$ web/index.php?controler=contact&action=evenement [L]
RewriteRule ^web/mention-legal.html$ web/index.php?action=mention_legal [L]
RewriteRule ^web/cgv.html$ web/index.php?action=cgv [L]
RewriteRule ^web/cgu.html$ web/index.php?action=cgu [L]
RewriteRule ^web/particuliers.html$ web/index.php?action=particuliers [L]
RewriteRule ^web/entreprises.html$ web/index.php?action=entreprises [L]
RewriteRule ^web/evenement.html$ web/index.php?action=evenement [L]
RewriteRule ^web/inscription.html$ web/index.php?action=inscription [L]