# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On
#Redirect all HTTP request to HTTPS. A désactiver en local
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
# Réécriture de index.html vers index.php 
RewriteRule ^web/index\.html$ web/index.php [L]
# Réécriture des URL des restaurants 
RewriteRule ^web/restaurants-partenaire.html$ web/index.php?action=restaurants_partenaire [L]
RewriteRule ^web/restaurants.html$ web/index.php?controler=restaurant&action=recherche [L]
RewriteRule ^web/restaurants-([a-zA-Z0-9\-]+)\.html$ web/index.php?controler=restaurant&action=recherche&ville=$1 [L]
RewriteRule ^web/livraisons.html$ web/index.php?controler=restaurant&action=recherche [L]
RewriteRule ^web/livraison-([a-zA-Z0-9\-]+)\.html$ web/index.php?controler=restaurant&action=recherche&ville=$1 [L]
RewriteRule ^web/restaurant-([0-9]+)-([a-zA-Z0-9\-]+)\.html$ web/index.php?controler=restaurant&action=index&id=$1 [L]
RewriteRule ^web/qui-sommes-nous.html$ web/index.php?action=qui_sommes_nous [L]
RewriteRule ^web/plats-favoris.html$ web/index.php?action=plats_favoris [L]
RewriteRule ^web/faq.html$ web/index.php?action=faq [L]
RewriteRule ^web/contact.html$ web/index.php?controler=contact [L]
RewriteRule ^web/contact-livreur.html$ web/index.php?controler=contact&action=livreur [L]
RewriteRule ^web/contact-restaurant.html$ web/index.php?controler=contact&action=restaurant [L]
RewriteRule ^web/contact-entreprise.html$ web/index.php?controler=contact&action=entreprise [L]
RewriteRule ^web/contact-evenement.html$ web/index.php?controler=contact&action=evenement [L]
RewriteRule ^web/mention-legal.html$ web/index.php?action=mention_legal [L]
RewriteRule ^web/cgv.html$ web/index.php?action=cgv [L]
RewriteRule ^web/cgu.html$ web/index.php?action=cgu [L]
RewriteRule ^web/particuliers.html$ web/index.php?action=particuliers [L]
RewriteRule ^web/entreprises.html$ web/index.php?action=entreprises [L]
RewriteRule ^web/evenement.html$ web/index.php?action=evenement [L]
RewriteRule ^web/inscription.html$ web/index.php?action=inscription [L]

<IfModule mod_php5.c>
    php_flag always_populate_raw_post_data -1
    php_value always_populate_raw_post_data -1
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on

	# Your document html
	ExpiresByType text/html "access plus 0 seconds"

	# Media: images, video, audio
	ExpiresByType audio/ogg "access plus 1 week"
	ExpiresByType image/gif "access plus 1 week"
	ExpiresByType image/jpeg "access plus 1 week"
	ExpiresByType image/png "access plus 1 week"
	ExpiresByType video/mp4 "access plus 1 week"
	ExpiresByType video/ogg "access plus 1 week"
	ExpiresByType video/webm "access plus 1 week"

	# CSS and JavaScript
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType text/css "access plus 1 week"
</IfModule>