
body  {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #cfd6da;
	margin:auto;
}

h1, h2, h3 {
	text-align : center;
}

hr {
	border-top: 1px solid #222 !important;
}

div.center {
	text-align : center;
}

#page-container {
	width : 100%;
}

div.home-background {
	background-image : url("../img/background2.png");
	background-repeat : no-repeat;
	background-size : 100% 100%;
	bottom : 0;
	height : 689px;
	left : 0;
	margin : 0 auto;
	position : absolute;
	right : 0;
	top : 0;
	width : 1170px;
	z-index : 0;
}

div.background {
	background-image : url("../img/background3.png");
	background-repeat : no-repeat;
	background-size : 100% 100%;
	bottom : 0;
	height : 100px;
	left : 0;
	margin : 0 auto;
	position : absolute;
	right : 0;
	top : 0;
	width : 1170px;
	z-index : 0;
}

div.gradient {
	bottom : 0;
	height : 689px;
	left : 0;
	margin : 0 auto;
	position : absolute;
	right : 0;
	top : 0;
	width : 1170px;
	z-index : 1;
	background : rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2)) repeat scroll 0 0;
}

span.glyphicon-remove {
	color : #FF0000;
}

span.glyphicon-ok {
	color : #00FF00;
}

span.glyphicon {
	cursor : pointer;
}

a.link-more {
	background-color: rgba(138, 138, 138, 0.5);
    border-radius: 12px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

a.link-more span.glyphicon-chevron-right {
	background-color: #ff2a00;
    border-radius: 10px;
    margin-left: 30px;
    padding: 5px;
}

button.send-button {
	background-color: rgba(138, 138, 138, 0.3);
    border-radius: 12px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    width: 150px;
}

button.send-button span.glyphicon-chevron-right {
	background-color: #ff2a00;
    border-radius: 10px;
    margin-left: 30px;
    padding: 5px;
}

.validate-button {
	background-color: #FF2A00;
    border-radius: 12px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    width: 150px;
}

button.close-button {
	background-color: rgba(138, 138, 138, 0.3);
    border-radius: 12px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    width: 150px;
}

button.close-button span.glyphicon-remove {
	background-color: #ff2a00;
    border-radius: 10px;
    margin-left: 30px;
    padding: 5px;
}

a.link {
	color : #ff2a00;
}

a.link-livraison {
	border: 1px solid;
    border-radius: 15px;
    color: #ffffff;
    display: inline-block;
    height: 30px;
	margin-top: 20px;
    padding-top: 5px;
    width: 200px;
}

div.div-livreur {
	background-image : url("../img/livreur.png");
	background-repeat : no-repeat;
	background-size : 100% 100%;
	bottom : 0;
	height : 300px;
	left : 0;
	position : absolute;
	right : 0;
	top : 0;
	width : 50%;
	z-index : 0;
}

div.gradient-livreur {
	bottom : 0;
	height : 300px;
	left : 0;
	position : absolute;
	right : 0;
	top : 0;
	width : 50%;
	z-index : 1;
	background : rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2)) repeat scroll 0 0;
}

div.div-restaurant {
	background-image : url("../img/restaurant.png");
	background-repeat : no-repeat;
	background-size : 100% 100%;
	bottom : 0;
	height : 300px;
	left : 0;
	margin-left: 50%;
	position : absolute;
	right : 0;
	top : 0;
	width : 50%;
	z-index : 0;
}

div.gradient-restaurant {
	bottom : 0;
	height : 300px;
	left : 0;
	margin-left: 50%;
	position : absolute;
	right : 0;
	top : 0;
	width : 50%;
	z-index : 1;
	background : rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2)) repeat scroll 0 0;
}

/* header */

header {
	height : 100px;
	margin-top: 20px;
	position : relative;
	width : 100%;
	z-index : 2;
}

header.home {
	height : 669px;
}

header #logo {
    position: relative;
    width: 120px;
}

header a {
	color : #FFFFFF;
}

header a:hover {
	color : #FFFFFF;
}

#menu-link {
	display: inline-block;
    font-size: 16px;
    margin-left: 100px;
}

#menu-link a {
    margin-left: 20px;
}

header ul.menu {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    float: right;
    font-size: 17px;
    margin-right: 50px;
    margin-top: 12px;
}

header ul.menu li {
	list-style: outside none none;
	float: left;
	margin-right : 20px;
}

header ul.menu li.user {
	background-color: #2E0727;
	border-radius: 50px;
	padding : 5px;
}

header h1 {
	color : #FFFFFF;
	margin-top : 120px;
}

div.search-block {
	width : 50%;
	margin : 0 auto;
}

div.search-block input#full_address {
	border-radius: 15px;
	width: 90%;
	height : 40px;
}

div.search-block a.search-button{
	background-color: #ff2a00;
    border-radius: 30px;
    display: inline-block;
    height: 30px;
    left: 83%;
    position: relative;
    top: 35px;
    width: 30px;
}

div.search-block a.search-button span.glyphicon-search{
	font-size : 18px;
	top : 5px;
	left : 5px;
}

/* fin header */

/* Main content */

#subscribeForm input {
	padding: 10px;
    border: 1px solid #757575;
    margin: 0 0 10px;
}

#password {
    padding: 10px;
    border: 1px solid #000;
    margin: 0 0 10px;
}

div.background-violet {
	background-color : #3C0833;
	color : #FFFFFF;
}

.background-orange {
	background-color : #FF2A00;
	color : #FFFFFF;
}

div.pass-container {
    height: 30px;
}

div.pass-bar {
    height: 11px;
    margin-top: 2px;
}
div.pass-hint {
    font-family: arial;
    font-size: 11px;
}

div.odd {
	background-color: #FFFFFF;
}

div.even {
	background-color: #EEEEEE;
}

.badge.wait{
    background-color: #f0385a;
}

.badge.process{
    background-color: #00FF00;
}

.badge.coming{
    background-color: #0000FF;
}

#myCarousel .item {
    border: none;
}

.item {
    border: 1px solid black;
    border-radius: 5px;
}

.item .title {
	text-align : center;
}

.item .vignette {
    text-align: center;
}

.item .vignette img {
	height: 200px;
    width: 200px;
}

input.error {
	border-color: #ff0000 !important;
}

label.error {
	color : #FF0000;
}

#horraires .form-control {
	display : inline;
	width : auto;
}

div.mobile {
	text-align : center;
}

div.mobile img {
	width : 50%;
}

div.partenaire img {
	width : 80%;
}

span.disponible {
	background-color: #00ff00;
    border-radius: 10px;
    float: right;
    height: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 15px;
}

span.closed {
	background-color: #ff0000;
    border-radius: 10px;
    float: right;
    height: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 15px;
}

/*.logo_restaurant img {
	width : 100px;
}*/

.required {
    color: #ff0000;
    margin-left: 5px;
}

.search-block {
	display: block;
    position: relative;
}

table .glyphicon {
	margin-right : 20px;
	font-size : 20px;
}

#stars-default {
	text-align : center;
}

.search-block .glyphicon-refresh-animate {
	display : none;
	position: absolute !important;
    right: 10px;
    top: 10px !important;
    z-index: 10;
}

.pac-container {
	z-index: 1051 !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.stepper {
	text-align : center;
}

.stepper-value {
	font-size: 20px;
    margin-left: 7px;
    margin-right: 5px;
    width: 15px;
}

.stepper-button {
	background-color:#FF2A00;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:20px;
	border:1px solid #FF2A00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
	width: 40px;
	text-align: center;
	height: 40px;
}

.stepper-button:active {
	position:relative;
	top:1px;
}

/* fin Main content */

/* footer */

footer {
	clear : both;
	color : #000000;
	margin-top : 20px;
	text-align : center;
}

footer h3 {
	color : #23527C;
}

footer a {
	color : #000000;
}

footer img.social-media {
	width : 50px;
}

/* fin footer */

